.dashboard-total-key {
    font-size: 18px;
}

.dashboard-total-value {
    font-size: 36px;
}

.dashboard-button {
    margin-top: 20px;
    width: 100%;
}

/*noinspection ALL*/
.dashboard-main-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
}