.settings-tab {
    text-align: left;
    margin: 20px;
}

.block-header {
    margin-bottom: 10px;
}

.block-divider {
    margin: 10px 0 25px 0;
}

.field-input {
    padding-top: 10px;
    display: flex;
}

.inline-field-element {
    margin-left: 10px;
}