.el-nav-menu-vertical {
    position: relative;
    min-height: 100%;
    width: 80px;
}

.el-nav-menu-vertical:not(.el-menu--collapse) {
    width: 250px;
}

.el-nav-menu-vertical-footer {
    position: absolute !important;
    width: 100%;
    bottom: 0;
}

.fa-submenu {
    font-size: 24px;
}

.el-nav-menu-logo {
    margin-right: -8px;
}